@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("RobotMono-Regular"),
    url('./assets/fonts/RobotoMono-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("RobotMono-Bold"),
    url('./assets/fonts/RobotoMono-Bold.ttf') format("truetype");
}